@inherits LayoutComponentBase
@using ProjetoDelivery.Shared

<Header />

<main class="flex-grow p-6">
    @Body
</main>

<Footer />

@code {
    public static bool UsuarioLogado { get; set; } = false;

    public static event Action? OnUsuarioLogadoChange;

    public static void DefinirUsuarioLogado(bool logado)
    {
        UsuarioLogado = logado;
        OnUsuarioLogadoChange?.Invoke();
    }
}

