@page "/login"
@inject NavigationManager NavigationManager

<div class="min-h-screen bg-white flex flex-col items-center  pt-10 p-6">
    <div class="bg-white p-8 rounded-xl shadow-lg w-full max-w-md fade-in">
        <h1 class="text-3xl font-bold text-center text-black mb-6">Login</h1>

        <div class="flex flex-col space-y-4">
            <input 
                type="email" 
                @bind="Email" 
                placeholder="Email" 
                class="border-2 border-[#6836c5] rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#6836c5] text-black"
            />

            <input 
                type="password" 
                @bind="Senha" 
                placeholder="Senha" 
                class="border-2 border-[#6836c5] rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#6836c5] text-black"
            />

            <button 
                class="bg-[#6836c5] hover:bg-purple-700 text-white font-bold py-2 rounded"
                @onclick="RealizarLogin"
            >
                Entrar
            </button>

            @if (MensagemErro != null)
            {
                <div class="text-red-500 text-sm text-center">@MensagemErro</div>
            }
        </div>
    </div>
</div>

@code {
    private string Email { get; set; } = "";
    private string Senha { get; set; } = "";
    private string? MensagemErro;

    private void RealizarLogin()
    {
        if (Email == "usuario@email.com" && Senha == "123")
        {
            MainLayout.UsuarioLogado = true;
            NavigationManager.NavigateTo("/");
        }
        else
        {
            MensagemErro = "Email ou senha incorretos.";
        }
    }
}
