@inject NavigationManager NavigationManager

<div class="flex items-center justify-between p-4 text-black bg-white">
    <!-- Logo/Nome -->
    <div class="cursor-pointer" @onclick="@(() => NavigationManager.NavigateTo("/"))">
        <div class="bg-[#6836c5] text-white px-4 py-2 rounded-xl text-2xl font-bold">
            IRango
        </div>
    </div>

    <!-- Menu -->
    <div class="flex space-x-6 text-black font-bold">
        <a class="hover:underline" href="/">Home</a>
        <a class="hover:underline" href="/todos-restaurantes">Todos Restaurantes</a>
        <a class="hover:underline" href="/itens-mais-vendidos">Itens Mais Vendidos</a>
    </div>

    <!-- Login / Registro ou Informações / Logout -->
    <div class="flex space-x-4">
        @if (!UsuarioLogado)
        {
            <button class="bg-[#6836c5] hover:bg-purple-700 text-white font-semibold py-1 px-4 rounded" @onclick="@(() => NavigationManager.NavigateTo("/login"))">Login</button>
            <button class="bg-[#6836c5] hover:bg-purple-700 text-white font-semibold py-1 px-4 rounded" @onclick="@(() => NavigationManager.NavigateTo("/registro"))">Registro</button>
        }
        else
        {
            <button class="bg-[#6836c5] hover:bg-purple-700 text-white font-semibold py-1 px-4 rounded" @onclick="@(() => NavigationManager.NavigateTo("/informacoes-logado"))">Informações</button>
            <button class="bg-red-500 hover:bg-red-600 text-white font-semibold py-1 px-4 rounded" @onclick="Logout">Logout</button>
        }
    </div>
</div>

@code {
    public static bool UsuarioLogado { get; set; } = false;

    private void Logout()
    {
        UsuarioLogado = false;
        NavigationManager.NavigateTo("/");
    }
}
